<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses page</title>
    <link rel="stylesheet" href="/css/courses.css">
    <link rel="stylesheet" href="/css/Header.css">
    <script src = "/js/Exit.js" defer></script>
    <script src = "/js/all.js" defer></script>
</head>
<body onload="timeout()">
    <header>
        <img src="img/Header/nav.png" id="sidebarToggle" class="toggle">
        <div class="TopLogo">
            <img src="/img/Header/Logo_transparent.png" alt="" class="logo">
 
            <!-- <div class="Exit"> -->
                <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><div class="SideButton">EXIT</div></a> -->
                <!-- <a onclick="pickMe()">EXIT</button> -->
            <!-- </div> -->

        </div>
        <nav>
            <div class="layout">
                <a href="/Home"><div class="TopButton">Home</div></a>
                <a href="/AboutUs"><div class="TopButton">About Us</div></a>
                <a href="/QnA"><div class="TopButton">FAQ</div></a>
                <a href="/courses"><div class="TopButton">Events</div></a>
                <a href="/Volunteer"><div class="TopButton">Volunteer</div></a>
                <a href="/Resources"><div class="TopButton">Resources</div></a>
                <a href="/Donate"><div class="TopButton">Donate</div></a>
        

                <div class="Login">

                    <span th:if="${isLoggedIn}" class="Log">
                        <span th:if="${usertype}" class="Type">
                            <div class="dropdown">
                                <button class="dropbtn" th:text="${username}"></button>
                                <div class="dropdown-content">
                                    <a th:href="@{/users/page}">Profile</a>
                                    <a href="/dashboard"> register / update courses </a>
                            </div>
                        </span>
                        <span th:if="${!usertype}" class="Type">
                            <div class="dropdown">
                                <button class="dropbtn" th:text="${username}"></button>
                                <div class="dropdown-content">
                                    <a th:href="@{/admin/page}">Profile</a>
                                    <a th:href="@{/admin/add}">Add Course</a>
                                    <a th:href="@{/admin/edit}">Edit Course</a>
                                    <a th:href="@{/admin/delete}">Delete Course</a>
                
                            </div>
                        </span>
                        <script th:inline="javascript">
     
                            document.addEventListener("DOMContentLoaded", function() {
                              let logoutTimer;
                              const idleTimeout = 300 * 1000; // 1 minute
                            
                              const resetTimer = () => {
                                clearTimeout(logoutTimer);
                                logoutTimer = setTimeout(() => {
                                  // User has been idle for 1 minute, log them out
                                  window.location.href = '/logout'; // Redirect to your logout URL
                                }, idleTimeout);
                              };
                            
                              // Listen for any of these events to reset the timer
                              document.addEventListener('mousemove', resetTimer, false);
                              document.addEventListener('mousedown', resetTimer, false);
                              document.addEventListener('keypress', resetTimer, false);
                              document.addEventListener('touchmove', resetTimer, false);
                              document.addEventListener('onclick', resetTimer, false);
                            
                              resetTimer(); // Initialize the timer
                            });
                          
                          
                         </script>
                        <a href="/logout">Logout</a>
                    </span>
                    <span th:unless="${isLoggedIn}" class="Log">
        
                     
                        <a href="/login">Login/Sign Up</a>
                    </span>
                    </div>
                    </div>
                </div>
                <div class="Exit">
                    <a href="https://www.theweathernetwork.com/ca">EXIT</a>
                </div>
        </nav>
   

</header>
<div class="container">
    <div class="center">
        <!-- <div style="margin: auto; width: 75%;"> -->
            <!-- <div class="center-fill" style="width: 45%;">  -->
                <h1> Events </h1> 
                <h3> Check out our schedule</h3>
            </div>
        <!-- </div> -->
    <!-- </div> -->

    <!-- <h2> Happening today </h2>
    <hr>
    <a href="course3.html" class="course-class">
        <div class="courseINFO">
            <div class="course-meta">
                <h3> course 3 </h3>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
            <div class="course-date">
                <hr>
                <p> Friday, March 8 ~ 10:30 AM </p>
            </div>
        </div>
    </a>
    <br> <br> -->


    <h2> Events happening </h2>
    <hr>

   <div class="displayCourses"> 
    <div class="courseINFO" th:each="c:${courseDisplay}">
        <a th:href="@{'/viewCourse?courseId=' + ${c.id}}" class="course-class">
            <div class="course-meta">
                <h3 th:text="${c.coursename}"> Coursename </h3>
                <p th:text="${c.courseinfo}"> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
            <div class="course-date">
                <hr>
                <p th:text="${c.startdate}"> Thursday, February 29 ~ 10:30 AM </p> <br>
                <p th:text="${c.enddate}"> Thursday, February 29 ~ 13:30 AM </p> <br>
                <p th:text="${c.location}"> Somehwere over the rainbow</p>
            </div>
        </a>
    </div>
    </div>
    </div>
    <script src="/js/Header.js"></script>


</body>
</html>