<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Header.css">
    <!-- <script src = "/js/Exit.js" defer></script> -->
    <title>Document</title>
</head>
<body>
    <header>

        <div class="TopLogo">
            <img src="/img/Header/Logo.png" alt="" class="logo">
 

            <div class="Exit">
                <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><div class="SideButton">EXIT</div></a> -->
                <a onclick="pickMe()">EXIT</button>
            </div>

        </div>
        <div class="Top">
            <div class="NavBar">
                <a href="/Home.html"><div class="TopButton">Home</div></a>
                <a href="/AboutUs.html"><div class="TopButton">About Us</div></a>
                <a href="/QnA.html"><div class="TopButton">FAQ</div></a>
                <a href="/COURSES/courses.html"><div class="TopButton">Courses</div></a>
                <a href="/Volunteer.html"><div class="TopButton">Volunteer</div></a>
                <a href="/Resources.html"><div class="TopButton">Resources</div></a>
                <a href="/Donate.html"><div class="TopButton">Donate</div></a>
                <a href="/login"><div class="Login">Login/Sign Up</div></a>
                <!-- <form method="get" action="/login">
                    <input class="btn btn-primary" type="submit" value="Login/Sign up"></input>
                </form> -->
            </div>
        </div>
   

</header>
    <p>WELCOME ADMIN!!!</p>
    PROTECTED RESOURCES!!! <br>

    <div class="container">
        <h1>Add Course</h1>
        <form action="/courses/add" method="post">
            <div class="mb-3">
                <label for="coursename" class="form-label">Course Name</label>
                <input type="text" class="form-control" id="coursename" name="coursename" required>
            </div>
            <div class="mb-3">
                <label for="date" class="form-label">Date</label>
                <input type="text" class="form-control" id="date" name="date" required>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="location" required>
            </div>
            <div class="mb-3">
                <label for="courseinfo" class="form-label">Course Information</label>
                <input type="text" class="form-control" id="courseinfo" name="courseinfo" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" name="description" required>
            </div>
            <div class="mb-3">
                <label for="imagelink" class="form-label">Image Link</label>
                <input type="text" class="form-control" id="imagelink" name="imagelink" required>
            </div>
            <div class="mt-4">
                <button class="btn btn-primary" type="submit" value="SEND">Add</button>
            </div>
        </form>
    </div>

    <div class="container">
        <h1 class="mt-5 mb-4">Delete Course</h1>
        <div class="card">
            <div class="card-body">
                <form action="/courses/delete" method="post">
                    <div class="mb-3">
                        <label for="coursename" class="form-label">Course Name: </label>
                        <input type="text" id="coursename" name="coursename" class="form-control" required>
                    </div>
                    <div class="mt-4">
                        <button class="btn btn-primary" type="submit" value="SEND">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h1 class="text-center mt-5 mb-4">Update Course</h1>
        <form action="/courses/update" method="post">
            <!-- Student Id Input -->
            <div class="information" id="informationDiv">
                <h5>Please only enter the data you would like to update, else just leave it blank!!</h5>
                <br>
                <div class="mb-3">
                    <label class="form-label">Course Name that you want to change: </label>
                    <input type="text" id="coursename_temp" name="coursename_temp" class="form-control" required>
                </div>
                <div class="mb-5">
                    <input type="text" id="coursename" name="coursename" class="form-control form-control-lg" placeholder="update Course Name">
                </div>
                <div class="mb-5">
                    <input type="text" id="date" name="date" class="form-control form-control-lg" placeholder="update Date">
                </div>
                <div class="mb-5">
                    <input type="text" id="location" name="location" class="form-control form-control-lg" placeholder="update Location">
                </div>
                <div class="mb-5">
                    <input type="text" id="description" name="description" class="form-control form-control-lg" placeholder="update Description">
                </div>
                <div class="mb-5">
                    <input type="text" id="courseinfo" name="courseinfo" class="form-control form-control-lg" placeholder="update Course Information">
                </div>
                <div class="mb-5">
                    <input type="float" id="imagelink" name="imagelink" class="form-control form-control-lg" placeholder="update Image Link">
                </div>
                <div class="d-grid gap-2">
                    <input class="btn btn-primary" type="submit" value="SEND">
                </div>
            </div>
        </form>
    </div>

    <br><br>

    <a href="/logout">Logout</a>
    
    <br><br>
       <!-- Edit password -->
       <form action="/users/edit/{username}" th:action="@{/users/edit/{username}(username=${user.username})}" method="get">
        <!-- <input type="hidden" name="_method" value="put" /> -->
        <div class="d-grid gap-2">
            <input class="btn btn-primary rounded-pill" type="submit" value="Change Password"></input>
        </div>           
    </form>
    
    <form action="/users/delete/{username}" th:action="@{/users/delete/{username}(username=${user.username})}" method="post" onsubmit="return confirmDelete();">
        <input type="hidden" name="_method" value="put" />
        <!-- Delete button -->
        <div class="d-grid gap-2">
            <input class="btn btn-primary rounded-pill" type="submit" value="DELETE"></input>
        </div>           
    </form>
    <script>
		function confirmDelete() {
			return confirm("Are you sure you want to delete this account?")
		}
	</script>
</body>
</html>