<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user page</title>
    <link rel="stylesheet" href="/css/userpage-courses.css">
    <link rel="stylesheet" href="/css/Header.css">
    <script src = "/js/Exit.js" defer></script>
</head>
<body>
    <header>

        <div class="TopLogo">
            <img src="/img/Header/Logo.png" alt="" class="logo">

                <div class="Exit">
                    <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><div class="SideButton">EXIT</div></a> -->
                    <a onclick="pickMe()">EXIT</button>
                </div>

        </div>
        
        <div class="Top">
            <div class="NavBar">
                <a href="/Home.html"><div class="TopButton">Home</div></a>
                <a href="/AboutUs.html"><div class="TopButton">About Us</div></a>
                <a href="/QnA.html"><div class="TopButton">FAQ</div></a>
                <a href="/courseDisplay"><div class="TopButton">Courses</div></a>
                <a href="/Volunteer.html"><div class="TopButton">Volunteer</div></a>
                <a href="/Resources.html"><div class="TopButton">Resources</div></a>
                <a href="/Donate.html"><div class="TopButton">Donate</div></a>
                <a href="/login"><div class="Login">Login/Sign Up</div></a>
            </div>
        </div>

</header>
    <p>WELCOME USER!!!</p>
    PROTECTED RESOURCES!!! <br>
    <a href="/logout">Logout</a> 
    <br> 
    <a href="/dashboard"> register / update courses </a>
    <br>
    <!-- Edit password -->
    <form action="/users/edit/{username}" th:action="@{/users/edit/{username}(username=${user.username})}" method="get">
        <!-- <input type="hidden" name="_method" value="put" /> -->
        <div class="d-grid gap-2">
            <input class="btn btn-primary rounded-pill" type="submit" value="Change Password"></input>
        </div>           
    </form>
      <!-- Delete button -->
    <form action="/users/delete/{username}" th:action="@{/users/delete/{username}(username=${user.username})}" method="post" onsubmit="return confirmDelete();">
        <input type="hidden" name="_method" value="put" />
        <div class="d-grid gap-2">
            <input class="btn btn-primary rounded-pill" type="submit" value="DELETE"></input>
        </div>           
    </form>

<script>
    // delete function code
    function confirmDelete() {
        return confirm("Are you sure you want to delete this account?")
    }
</script>

</body>
</html>