<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user page</title>
    <link rel="stylesheet" href="/css/userpage-courses.css">
</head>
<body>
    <p>WELCOME USER!!!</p>
    PROTECTED RESOURCES!!! <br>
    <a href="/logout">Logout</a>
      <!-- Delete button -->
    <form action="/users/delete/{username}" th:action="@{/users/delete/{username}(username=${user.username})}" method="post" onsubmit="return confirmDelete();">
        <input type="hidden" name="_method" value="put" />
        <div class="d-grid gap-2">
            <input class="btn btn-primary rounded-pill" type="submit" value="DELETE"></input>
        </div>           
    </form>

<div class="container">
    <div style="display: inline-block; width: 500px;padding: 10px;"> <h2> Courses available </h2> </div>
    <div style="display: inline-block; width: 500px; padding: 10px;"> <h2> Courses enrolled in </h2> </div>
</div>


<!-- im bs ing the thymeleaf, ill fix later. -->
<div class="container">
    <div id="left" th:each="course:${course}"> 
        <div class="list" draggable="true" > 
            <h3 th:text="${course.coursename}"> </h3>
            <p th:text="${course.date}"> </p> <p> | </p> <p th:text="${course.location}"> </p> <br>
            <p th:text="${course.courseinfo}"> </p>
        </div>
    </div>

    <!-- i have to do some black magic foreign key-primary key shenanigan here -->
    <form action="/enroll" method="post">
        <div id="right" th:each="normalusercourse:${course}">
            <div class="list" draggable="true"> 
                <h3 th:text="${course.coursename}"> </h3>
                <p th:text="${course.date}"> </p> <p> | </p> <p th:text="${course.location}"> </p> <br>
                <p th:text="${course.courseinfo}"> </p>
            </div>
        </div>
    </form>
</div>
<!-- need to put a form and think of a way where the info submitted in each of the course divs update the table at once... when the table is a one to many/many to one -->

<script>
    // delete function code
    function confirmDelete() {
        return confirm("Are you sure you want to delete this account?")
    }

    // dragging function code
    let lists = document.getElementsByClassName("list");
    let rightBox = document.getElementById("right");
    let leftBox = document.getElementById("left");

    for(list of lists)
    {
        list.addEventListener("dragstart", function(e)
        {
            let selected = e.target;

            rightBox.addEventListener("dragover", function(e)
            { e.preventDefault(); });

            rightBox.addEventListener("drop", function(e)
            {
                rightBox.appendChild(selected);
                selected = null;
            });

            leftBox.addEventListener("dragover", function(e)
            { e.preventDefault(); });

            leftBox.addEventListener("drop", function(e)
            {
                leftBox.appendChild(selected);
                selected = null;
            });
        })
    }
    // Drag and Drop code from GreatStack's instructional youtube video
</script>

</body>
</html>