<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/AboutUs.css">
    <link rel="stylesheet" href="/css/Header.css">
    <script src = "/js/Exit.js" defer></script>
    <title>Document</title>
</head>
<body onload="timeout()">
    <header>

        <div class="TopLogo">
            <img src="/img/Header/Logo_transparent.png" alt="" class="logo">
 
            <!-- <div class="Exit"> -->
                <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><div class="SideButton">EXIT</div></a> -->
                <!-- <a onclick="pickMe()">EXIT</button> -->
            <!-- </div> -->

        </div>
        <nav>
                <a href="/Home"><div class="TopButton">Home</div></a>
                <a href="/AboutUs"><div class="TopButton">About Us</div></a>
                <a href="/QnA"><div class="TopButton">FAQ</div></a>
                <a href="/courses"><div class="TopButton">Courses</div></a>
                <a href="/Volunteer"><div class="TopButton">Volunteer</div></a>
                <a href="/Resources"><div class="TopButton">Resources</div></a>
                <a href="/Donate"><div class="TopButton">Donate</div></a>
            

                <div class="Login">

                    <span th:if="${isLoggedIn}" class="Log">
                        <span th:if="${usertype}" class="Type">
                            <div class="dropdown">
                                <button class="dropbtn" th:text="${username}"></button>
                                <div class="dropdown-content">
                                    <a th:href="@{/users/page}">Profile</a>
                                    <a href="/dashboard"> register / update courses </a>
                            </div>
                        </span>
                        <span th:if="${!usertype}" class="Type">
                            <div class="dropdown">
                                <button class="dropbtn" th:text="${username}">ADMIN</button>
                                <div class="dropdown-content">
                                    <a th:href="@{/admin/page}">Profile</a>
                                    <a th:href="@{/admin/add}">Add Course</a>
                                    <a th:href="@{/admin/edit}">Edit Course</a>
                                    <a th:href="@{/admin/delete}">Delete Course</a>
                
                            </div>
                        </span>
                        <script th:inline="javascript">
     
                            document.addEventListener("DOMContentLoaded", function() {
                              let logoutTimer;
                              const idleTimeout = 300 * 1000; // 1 minute
                            
                              const resetTimer = () => {
                                clearTimeout(logoutTimer);
                                logoutTimer = setTimeout(() => {
                                  // User has been idle for 1 minute, log them out
                                  window.location.href = '/logout'; // Redirect to your logout URL
                                }, idleTimeout);
                              };
                            
                              // Listen for any of these events to reset the timer
                              document.addEventListener('mousemove', resetTimer, false);
                              document.addEventListener('mousedown', resetTimer, false);
                              document.addEventListener('keypress', resetTimer, false);
                              document.addEventListener('touchmove', resetTimer, false);
                              document.addEventListener('onclick', resetTimer, false);
                            
                              resetTimer(); // Initialize the timer
                            });
                          
                          
                         </script>
                        <a href="/logout">Logout</a>
                    </span>
                    <span th:unless="${isLoggedIn}" class="Log">
        
                     
                        <a href="/login">Login/Sign Up</a>
                    </span>
                </div>
                <div class="Exit">
                    <a href="https://www.theweathernetwork.com/ca">EXIT</a>
                </div>
            </div>
        </nav>
   

</header>
<div class="container">
    <h1>Our Team</h1><br>
    <div class="TeamMember">
        <span class="Role">Founder</span><br>
        <div class="TeamPic">
            <img src="img/AboutUs/Lisa.png" alt="">
        </div>
        <div class="TeamAbout">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit, dolor sit amet vestibulum sodales, orci quam luctus diam, in tempor nisl ex sit amet tortor. Quisque sed convallis elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce euismod consequat nisl non vulputate. Curabitur interdum ac turpis nec lobortis. Nullam nec nulla vitae libero pellentesque dignissim a ut dolor. Ut posuere justo neque, a faucibus tortor dictum ac. Aenean sit amet eros vel libero tempus laoreet. Integer convallis euismod massa. Morbi libero sem, facilisis at blandit fermentum, lobortis non ipsum.
        </div>
    </div>
    </div>
</body>
</html>