<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="css/QnA.css">
    <link rel="stylesheet" href="css/Header.css">
    <script src = "/js/Exit.js" defer></script>
    <script src = "/js/QnA.js" defer></script>
    <script src = "/js/all.js" defer></script>
</head>
<body onload="timeout()">
    <header>
        <img src="img/Header/nav.png" alt="Toggle Button" id="sidebarToggle" class="toggle">
        <div class="TopLogo">
            <img src="/img/Header/Logo_transparent.png" alt="Organization logo" class="logo">
 
            <!-- <div class="Exit"> -->
                <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><div class="SideButton">EXIT</div></a> -->
                <!-- <a onclick="pickMe()">EXIT</button> -->
            <!-- </div> -->

        </div>
        <nav>
            <div class="layout">
                <a href="/Home"><div class="TopButton">Home</div></a>
                <a href="/AboutUs"><div class="TopButton">About Us</div></a>
                <a href="/QnA"><div class="TopButton">FAQ</div></a>
                <a href="/courses"><div class="TopButton">Events</div></a>
                <a href="/Volunteer"><div class="TopButton">Volunteer</div></a>
                <a href="/Resources"><div class="TopButton">Resources</div></a>
                <a href="/Donate"><div class="TopButton">Donate</div></a>
        

                <div class="Login">

                    <span th:if="${isLoggedIn}" class="Log">
                        <span th:if="${usertype}" class="Type">
                            <div class="dropdown">
                                <button class="dropbtn" th:text="${username}"></button>
                                <div class="dropdown-content">
                                    <a th:href="@{/users/page}">Profile</a>
                                    <a href="/dashboard"> register / update courses </a>
                            </div>
                        </span>
                        <span th:if="${!usertype}" class="Type">
                            <div class="dropdown">
                                <button class="dropbtn" th:text="${username}"></button>
                                <div class="dropdown-content">
                                    <a th:href="@{/admin/page}">Profile</a>
                                    <a th:href="@{/admin/add}">Add Course</a>
                                    <a th:href="@{/admin/edit}">Edit Course</a>
                                    <a th:href="@{/admin/delete}">Delete Course</a>
                
                            </div>
                        </span>
                        <script th:inline="javascript">
     
                            document.addEventListener("DOMContentLoaded", function() {
                              let logoutTimer;
                              const idleTimeout = 300 * 1000; // 1 minute
                            
                              const resetTimer = () => {
                                clearTimeout(logoutTimer);
                                logoutTimer = setTimeout(() => {
                                  // User has been idle for 1 minute, log them out
                                  window.location.href = '/logout'; // Redirect to your logout URL
                                }, idleTimeout);
                              };
                            
                              // Listen for any of these events to reset the timer
                              document.addEventListener('mousemove', resetTimer, false);
                              document.addEventListener('mousedown', resetTimer, false);
                              document.addEventListener('keypress', resetTimer, false);
                              document.addEventListener('touchmove', resetTimer, false);
                              document.addEventListener('onclick', resetTimer, false);
                            
                              resetTimer(); // Initialize the timer
                            });
                          
                          
                         </script>
                        <a href="/logout">Logout</a>
                    </span>
                    <span th:unless="${isLoggedIn}" class="Log">
        
                     
                        <a href="/login">Login/Sign Up</a>
                    </span>
                    </div> 
                </div> 
            </div>
            <div class="Exit">
                <a href="https://www.theweathernetwork.com/ca">EXIT</a>
            </div> 
        </nav>
   

</header>
<div class="container">
    <h1>Frequently Asked Questions</h1>
    <h2 class="topic" onclick="displayQuestion(0)">Questions about Donation</h2>
    <div class = "FAQ" id="donation">
        <div class = "QnA">
            <p class = "question">
                <img src="img/QnA/plus-2.png" class="plus">
                <img src="img/QnA/minus.png" class="minus">
                 What type of donation do we recieve? </p>
            <p class = "answer">We accept giftable new items, gift cards, and monetary donations, all which we have Charity Tax Receipts available for. Click <a href = "Donate.html">here</a> for more information</p>
        </div>
        <div class = "QnA">
            <p class = "question">
                <img src="img/QnA/plus-2.png" class="plus">
                <img src="img/QnA/minus.png" class="minus"> 
                Where do donations go? </p>
            <p class = "answer">We are collecting monetary donations or bottles to pay for some 
                staffs, rent supplies, and equipment we will need to get going. Once we are set up, 
                other fundraisers with our board and team of volunteers and apply for grants to keep 
                funds coming and provide more support and programs.
            </p>
        </div>
    </div>
    <h2 class="topic" onclick="displayQuestion(1)">Questions about Our Events</h2>
    <div class = "FAQ" id="course">
        <div class = "QnA">
            <p class = "question">
                <img src="img/QnA/plus-2.png" alt="" class="plus">
                <img src="img/QnA/minus.png" alt="" class="minus"> 
                How do I enroll in the events? </p>
            <p class = "answer">You can click enroll 
                from the events page.bAn account is needed 
                for a reservation to be valid.</p>
        </div>
        <div class = "QnA">
            <p class = "question">
                <img src="img/QnA/plus-2.png" class="plus">
                <img src="img/QnA/minus.png" class="minus"> 
                Will there be online events as well? </p>
            <p class = "answer">Yes! We are offering the opportunity 
                to zoom into the class if they can leave cameras on 
                and be present if childcare or other barriers comes up.</p>
        </div>
    </div>
    <h2 class="topic" onclick="displayQuestion(2)">Other Questions</h2>
    <div class = "FAQ" id="anything">
        <div class = "QnA">
            <p class = "question">
                <img src="img/QnA/plus-2.png" alt="" class="plus">
                <img src="img/QnA/minus.png" alt="" class="minus"> 
                How to apply as a volunteer? </p>
            <p class = "answer">Please email us your CV on wellnesstruthfamilies@gmail.com. 
                We will get back to you regarding further steps.</p>
        </div>
        <div class = "QnA">
            <p class = "question">
                <img src="img/QnA/plus-2.png" alt="" class="plus">
                <img src="img/QnA/minus.png" alt="" class="minus"> 
                How to make an account? </p>
            <p class = "answer">Find the tab 'Login/Sign Up' on the top 
                right of the page next to the Exit button. You will be 
                redirected to the login page where the Sign Up 
                button is available.</p>
        </div>
        <div class = "QnA">
            <p class = "question">
                <img src="img/QnA/plus-2.png" alt="" class="plus">
                <img src="img/QnA/minus.png" alt="" class="minus"> 
                What is the Exit Button? </p>
            <p class = "answer">It is an emergency button that redirects to 
                The Weather Channel. In the case where the web visitor, is in an 
                unsafe environment and would not like to be seen browsing the website. </p>
        </div>
    </div>

    <br><p>For more questions contact: wellnesstruthfamilies@gmail.com </p>
    </div>
    <script src="/js/Header.js"></script>
</body>
</html>