<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="css/QnA.css">
    <link rel="stylesheet" href="css/Header.css">
    <script src = "/js/Exit.js" defer></script>
    <script src = "/js/QnA.js" defer></script>
    <script src = "/js/all.js" defer></script>
    <style>
        .container {
            max-width: 800px;
            padding: 0px;
        }
        .box {
            border-radius: 10px;
            background-color: #f9f9f9;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        
    </style>
</head>
<body onload="timeout()">
    <header>
        <img src="img/Header/nav.png" id="sidebarToggle" class="toggle">
        <div class="TopLogo">
            <img src="/img/Header/Logo_transparent.png" alt="" class="logo">
 
            <!-- <div class="Exit"> -->
                <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><div class="SideButton">EXIT</div></a> -->
                <!-- <a onclick="pickMe()">EXIT</button> -->
            <!-- </div> -->

        </div>
        <nav>
            <div class="layout">
                <a href="/Home"><div class="TopButton">Home</div></a>
                <a href="/AboutUs"><div class="TopButton">About Us</div></a>
                <a href="/QnA"><div class="TopButton">FAQ</div></a>
                <a href="/courses"><div class="TopButton">Courses</div></a>
                <a href="/Volunteer"><div class="TopButton">Volunteer</div></a>
                <a href="/Resources"><div class="TopButton">Resources</div></a>
                <a href="/Donate"><div class="TopButton">Donate</div></a>
        

                <div class="Login">

                    <span th:if="${isLoggedIn}" class="Log">
                        <span th:if="${usertype}" class="Type">
                            <div class="dropdown">
                                <button class="dropbtn" th:text="${username}"></button>
                                <div class="dropdown-content">
                                    <a th:href="@{/users/page}">Profile</a>
                                    <a href="/dashboard"> register / update courses </a>
                            </div>
                        </span>
                        <span th:if="${!usertype}" class="Type">
                            <div class="dropdown">
                                <button class="dropbtn" th:text="${username}"></button>
                                <div class="dropdown-content">
                                    <a th:href="@{/admin/page}">Profile</a>
                                    <a th:href="@{/admin/add}">Add Course</a>
                                    <a th:href="@{/admin/edit}">Edit Course</a>
                                    <a th:href="@{/admin/delete}">Delete Course</a>
                
                            </div>
                        </span>
                        <script th:inline="javascript">
     
                            document.addEventListener("DOMContentLoaded", function() {
                              let logoutTimer;
                              const idleTimeout = 300 * 1000; // 1 minute
                            
                              const resetTimer = () => {
                                clearTimeout(logoutTimer);
                                logoutTimer = setTimeout(() => {
                                  // User has been idle for 1 minute, log them out
                                  window.location.href = '/logout'; // Redirect to your logout URL
                                }, idleTimeout);
                              };
                            
                              // Listen for any of these events to reset the timer
                              document.addEventListener('mousemove', resetTimer, false);
                              document.addEventListener('mousedown', resetTimer, false);
                              document.addEventListener('keypress', resetTimer, false);
                              document.addEventListener('touchmove', resetTimer, false);
                              document.addEventListener('onclick', resetTimer, false);
                            
                              resetTimer(); // Initialize the timer
                            });
                          
                          
                         </script>
                        <a href="/logout">Logout</a>
                    </span>
                    <span th:unless="${isLoggedIn}" class="Log">
        
                     
                        <a href="/login">Login/Sign Up</a>
                    </span>
                    </div> 
                </div> 
            </div>
            <div class="Exit">
                <a href="https://www.theweathernetwork.com/ca">EXIT</a>
            </div> 
        </nav>
   

</header>
<div class="container">
    <h1>Frequently Asked Questions</h1>
    <div class = "box">
        <div class = "box">
    <h2 class="topic" onclick="displayQuestion(0)" >Questions about Donation</h2>
    <div class = "FAQ" id="donation">
        <div class = "QnA">
            <p class = "question">
                <img src="img/QnA/plus-2.png" class="plus">
                <img src="img/QnA/minus.png" class="minus">
                What type of donation do you receive? </p>
            <p class = "answer"> We primarily receive cash donations to support our initiatives and programs aimed at promoting wellness and family well-being.</p>
        </div>
        <div class = "QnA">
            <p class = "question">
                <img src="img/QnA/plus-2.png" class="plus">
                <img src="img/QnA/minus.png" class="minus"> 
                How much can we donate? </p>
            <p class = "answer"> The amount you can donate is entirely up to you and your capacity to give. Every contribution, no matter how big or small, makes a significant difference in helping us achieve our mission. To learn more about donation options, please click <a href = "/Donate">here.</a></p>
        </div>
    </div><div>
    <div class = "box">
    <h2 class="topic" onclick="displayQuestion(1)">Questions about Our Courses</h2>
    <div class = "FAQ" id="course">
        <div class = "QnA">
            <p class = "question">
                <img src="img/QnA/plus-2.png" alt="" class="plus">
                <img src="img/QnA/minus.png" alt="" class="minus"> 
                What courses do you offer? </p>
            <p class = "answer"> We offer a variety of courses designed to promote wellness and strengthen family foundations. Our courses cover topics such as mindfulness meditation, holistic nutrition, family yoga, and stress management for parents. </p>
        </div>
        <div class = "QnA">
            <p class = "question">
                <img src="img/QnA/plus-2.png" class="plus">
                <img src="img/QnA/minus.png" class="minus"> 
                How can I enroll in your courses? </p>
            <p class = "answer"> You can enroll in our courses by visiting our website and registering online. Each course has its own enrollment process, so be sure to check the specific course page for more information.</p>
        </div>
    </div></div>
    <div class = "box">
    <h2 class="topic" onclick="displayQuestion(2)">Questions about Anything</h2>
    <div class = "FAQ" id="anything">
        <div class = "QnA">
            <p class = "question">
                <img src="img/QnA/plus-2.png" alt="" class="plus">
                <img src="img/QnA/minus.png" alt="" class="minus"> 
                Can I contact someone for more information? </p>
            <p class = "answer">Absolutely! We encourage you to reach out to us with any questions or inquiries you may have. You can contact our team via email at wellnesstruthandfamliy@gmail.com . We're here to help!</p>
        </div>
        <div class = "QnA">
            <p class = "question">
                <img src="img/QnA/plus-2.png" alt="" class="plus">
                <img src="img/QnA/minus.png" alt="" class="minus"> 
                Do you offer any financial assistance for your programs? </p>
            <p class = "answer">At Wellness Truth and Family Foundation, we believe that everyone should have access to wellness education and support, regardless of financial circumstances.</p>
        </div>
        <div class = "QnA">
            <p class = "question">
                <img src="img/QnA/plus-2.png" alt="" class="plus">
                <img src="img/QnA/minus.png" alt="" class="minus"> 
                How can I support your organization besides making a donation? </p>
            <p class = "answer">There are several ways you can support our organization beyond monetary donations. You can volunteer your time, spread awareness about our programs, or even host fundraising events on our behalf. Your support in any form is greatly appreciated and helps us continue our important work in promoting wellness and family well-being.</p>
        </div></div>
    </div>
    </div>
    </div>
    <script src="/js/Header.js"></script>
</body>
</html>