<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successful Logout</title>
</head>
<body>
    <p>Logout Successful</p>
    <a href="/Home">Back to Home</a>
    <script>
        window.onpageshow = function(event) {
        // If the page is loaded from the cache (e.g., back button was clicked)
        if (event.persisted) {
            // Reload the page to ensure updated content or session status
            window.location.reload();
        }
        };
    </script>
</body>
</html>