.logo{

    width: 80px;
    /* z-index: 2; */

}
.LeftSide{
    height: 100%;
    width: 160px;
    position: fixed;
    /* z-index: 1; */
}
.RightSide{
    margin-left: 160px;
}
.NavBar{
    
    
    /* align-items: center; */
}
.NavBar a{
    /* float: left; */
    padding-top: 30px;
    color:brown;
    display: inline-block;
    /* z-index: 2; */
}
.TopButton{
    background-color:aqua;
    padding: 10px;
    /* z-index: 1; */
}
.Top{
    background-color:chartreuse;
    height: 80px;
    overflow:hidden;
}